<!-- <div class="test"> -->
  <!-- <ag-grid-angular
      #agGrid
      style="width: 500px; height: 500px;"
      id="myGrid"
      class="ag-theme-balham"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [components]="components"
      [rowBuffer]="rowBuffer"
      [rowSelection]="rowSelection"
      [rowDeselection]="true"
      [rowModelType]="rowModelType"
      [paginationPageSize]="paginationPageSize"
      [cacheOverflowSize]="cacheOverflowSize"
      [maxConcurrentDatasourceRequests]="maxConcurrentDatasourceRequests"
      [infiniteInitialRowCount]="infiniteInitialRowCount"
      [maxBlocksInCache]="maxBlocksInCache"
      [rowData]="rowData"
      (gridReady)="onGridReady($event)"
    ></ag-grid-angular> -->
<!-- </div> -->
<!-- <ag-grid-angular
style="width: 500px; height: 500px;"
id="myGrid"
class="ag-theme-balham"
[columnDefs]="columnDefs"
[floatingFilter]="true"
[debug]="true"
[defaultColDef]="defaultColDef"
[rowSelection]="rowSelection"
[rowDeselection]="true"
[rowModelType]="rowModelType"
[paginationPageSize]="paginationPageSize"
[cacheOverflowSize]="cacheOverflowSize"
[maxConcurrentDatasourceRequests]="maxConcurrentDatasourceRequests"
[infiniteInitialRowCount]="infiniteInitialRowCount"
[maxBlocksInCache]="maxBlocksInCache"
[getRowNodeId]="getRowNodeId"
[rowData]="rowData"
(gridReady)="onGridReady($event)"
></ag-grid-angular> -->

<!-- <ag-grid-angular
      #agGrid
      style="width: 1024px; height: 600px;"
      id="myGrid"
      class="ag-theme-balham"
      [columnDefs]="columnDefs"
      [debug]="true"
      [defaultColDef]="defaultColDef"
      [rowSelection]="rowSelection"
      [rowModelType]="rowModelType"
      [paginationPageSize]="paginationPageSize"
      [cacheOverflowSize]="cacheOverflowSize"
      [maxConcurrentDatasourceRequests]="maxConcurrentDatasourceRequests"
      [infiniteInitialRowCount]="infiniteInitialRowCount"
      [maxBlocksInCache]="maxBlocksInCache"
      [getRowNodeId]="getRowNodeId"
      [cacheBlockSize] = "cacheBlockSize"
      [components]="components"
      [rowData]="rowData"
      (gridReady)="onGridReady($event)"
    ></ag-grid-angular> -->
<router-outlet></router-outlet>